<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalcy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3AA253D1E73183B00DB637C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3AA25511E73183B00DB637C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3AA255C1E73183B00DB637C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
